<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martabak.kamar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/KamarAppTheme"
        android:name=".activity.home.KamarApp">

        <service android:name=".activity.chat.GuestChatService" />
        <service android:name=".activity.guest.GuestPermintaanService" />
        <service android:name=".activity.chat.StaffChatService" />
        <service android:name=".activity.staff.StaffPermintaanService" />

        <activity
            android:name=".activity.YiannisTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
        <activity
            android:name=".activity.home.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.home.SelectLanguageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.guest.GuestHomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.staff.StaffHomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.guest.GuestPermintaanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/permintaan_title"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
        <activity
            android:name=".activity.guest.TransportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/transport_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.survey.SurveyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/survey_label"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.chat.GuestChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_chat_list"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.restaurant.RestaurantActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/restaurant_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.restaurant.RestaurantConfirmationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/restaurant_confirmation_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.housekeeping.HousekeepingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/housekeeping_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.massage.MassageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/massage_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.event.GuestEventActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/restaurant_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.engineering.EngineeringActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/engineering_label"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>